@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    color: rgb(40, 13, 196);
}

body {
    display: flex;
    justify-content: center;
    background-image: url('BMI4.jpg');
    background-size:cover;
    width: 60%;
}

.container {
    margin-top: 50px;
    /* width: 300px; */
    box-shadow: 0px 0px 20px 10px #0044ff;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    position: absolute;
   
}

h1 {
    margin-bottom: 40px;
    color:crimson;
    
}

input {
    border: none;
    border-bottom: 1px solid #0044ff;
    width: 50%;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: black;
}

button {
    width: 100%;
    height: 35px;
    margin-top: 25px;
    border-radius: 20px;
    border: none;
    background-color: #0044ff;
    color: #fff;
    font-size: 22px;
}

#result {
    margin-top: 20px;
    font-size: 25px;
    color: crimson;
}
/* #result {
    display: none;
    background-color: #f10044; 
    border: 1px solid #aaa; 
    position: fixed;
    width: 250px; 
    left: 50%;
    margin-left: -100px; 
    padding: 6px 8px 8px; 
    box-sizing: border-box; 
    text-align: center;
 } */